.container {
  display: block;
  margin: 80px auto 0 auto;
}

@media only screen and (min-width: 420px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 419px) {
  .container {
    width: 90%;
  }
}

.about-font {
  color: whitesmoke;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background-color: black;
}

.video-container iframe {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader-spinner-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.loader-spinner {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 45%;
  left: 47%;
}
